{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{ websites.title }}</title>
{% include 'partial/_style.html' %}
{% endblock %}

{% block content %}
{% if websites.is_active %}
<div class="container-fluid">
    <div class="row">
        <!--Top NavBar (title, search bar, cart, account) -->
        {% include 'partial/_top_navbar.html' %}
    </div>
    {% if banners %}
    <div class="row">
        <!-- Banners (carousel with images) -->
        {% include 'partial/_banners.html' %}
    </div>
    {% endif %}
    <div class="row justify-content-center category">
        <!-- Categories (navbar) -->
        {% include 'partial/_categories.html' %}
    </div>
    <div class="row justify-content-center">
        {% if products %}
        <!-- Products -->
        {% include 'partial/_products.html' %}
        {% endif %}
    </div>
    <div class="row justify-content-center">
        {% include 'partial/_pagination.html' %}
    </div>
    <div class="row mt-3 bg-danger text-white footer">
        {% include 'partial/_contact.html' %}
    </div>
    <div class="row justify-content-center text-white p-2 footer">
        {% include 'partial/_credits.html' %}
    </div>

<script src="{% static 'custom/js/website.js' %}"></script>
</div>
{% else %}
{% if websites.reason %}
<p> {{ websites.reason }} </p>
{% endif %}
{% endif %}
{% endblock %}