{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{ website.title }}</title>
{% endblock %}

{% block content %}

{% include 'partial/_top_navbar.html' %}

{% if website.is_available %}
<div class="container-fluid">

    {% if product %}

    {% include 'partial/_product.html' %}

    {% else %}

    {% if banners %}
    <div class="row">
        {% include 'partial/_banners.html' %}
    </div>
    {% endif %}

    {% if categories %}
     <div class="row justify-content-center category">
        {% include 'partial/_categories.html' %}
    </div>
    {% endif %}

    {% if products %}
    {% include 'partial/_products.html' %}

    <div class="row justify-content-center">
        {% include 'partial/_pagination.html' %}
    </div>
    {% endif %}

    {% endif %}

</div>

{% endif %}

<div class="container-fluid footer">

    {% if contact %}
    <div class="row text">
        {% include 'partial/_contact.html' %}
    </div>
    {% endif %}

    <div class="row justify-content-center mt-5 text">
        <h5>IMAGE CREDITS</h5>
    </div>
    <div class="row justify-content-center text">
        {% include 'partial/_credits.html' %}
    </div>

</div>

{% if website.reason %}
<p> {{ website.reason }} </p>
{% endif %}


{% endblock %}