
{% load static %}
{% load filters %}


{% for product in cart.products %}

<div class="row justify-content-center cart mt-5 ml-5 mr-5 p-3">
    <div class="col-sm text-center">
        {% if product.images %}
            <img class="card-img-top" src="{{ product.images }}" alt="{{ product.title }}"
             style="max-height:400px;max-width:100%;">
        {% else %}
            <img src="{% static 'media/category.png' %}" alt="{{ product.title }}"
                style="max-height:400px;max-width:100%;">
        {% endif %}
    </div>
    <div class="col-sm text-center">
        <h5> {{ product.title }} </h5>
        {% if product.price %}
        <p> {% money_format product.price website.currency website.language %} </p>
        {% endif %}
    </div>
    <div class="col-sm text-center">
        <h5> Quantity: {{ product.quantity }} </h5>
    </div>
    <div class="col-sm text-center">
        <h5> Total: {% money_format product.total website.currency website.language %} </h5>
    </div>
    <div class="col-sm text-center">
        <a href="{% url 'websites:product-edit' url=website.url selected_product=product.slug position=forloop.counter0 %}"
           class='btn btn-warning'>
            Edit
        </a>
        <a href="{% url 'websites:cart-remove' url=website.url position=forloop.counter0 %}"
           class='btn btn-danger text-white'>
            Remove
        </a>
    </div>
</div>

{% for group in product.groups %}
    <div class="row justify-content-center subcart ml-5 mr-5 border border-white">
        <h5> {{ group.title }} </h5>
    </div>

    {% for option in group.options %}
    <div class="row justify-content-center subcart ml-5 mr-5 p-3 border border-white">
        <div class="col-sm text-center">
            {% if option.model.image %}
                <img class="card-img-top" src="{{ option.images.url }}" alt="{{ option.images.name }}"
                 style="max-height:400px;max-width:100%;">
            {% endif %}
        </div>
        <div class="col text-center">
            <h6> {{ option.title }} </h6>
            {% if option.price %}
            <p> {% money_format option.price website.currency website.language %} </p>
            {% endif %}
        </div>
        <div class="col text-center">
            <h6> Quantity: {{ option.quantity }} </h6>
        </div>
     </div>
    {% endfor %}

{% endfor %}

{% endfor %}

<div class="row justify-content-center mt-5 ml-5 mr-5">
    <div class="col text-center">
    <h5> Total: {% money_format cart.total website.currency website.language %} </h5>
    </div>
    <div class="col text-center">
    <button class='btn btn-success'>
            BUY
    </button>
    </div>
</div>