{% load static %}

<nav class="nav justify-content-center bg-danger">

    <a class="nav-link active btn btn-danger mr-1" href="#">
        <figure class="figure" style="width:80px;height:60px;">
            {% if websites.home_images %}
            <img src="{{ websites.home_images }}" class="figure-img img-fluid rounded"
                 alt="Highlight"
                 style="height:50px;width:50px;">
            {% else %}
            <img src="{% static 'media/star.png' %}" class="figure-img img-fluid rounded"
                 alt="Highlight"
                 style="height:50px;width:50px;">
            {% endif %}
            <figcaption class="text-center">{{ websites.home }}</figcaption>
        </figure>
    </a>

    {% if categories %}
    {% for category in categories %}
    <a class="nav-link btn btn-danger mr-1" href="#">
        {% if category.images %}
        <figure class="figure" style="width:80px;height:60px;">
            <img src="{{ category.images.url }}" class="figure-img img-fluid rounded"
                 alt="{{ category.images.name }}" style="height:50px;width:50px;">
            <figcaption class="text-center">{{ category.title }}</figcaption>
        </figure>
        {% else %}
        <p>{{ category.title }}</p>
        {% endif %}
    </a>
    {% endfor %}
    {% endif %}

</nav>