{% load static %}


<a {% if selected_category %} class="btn categories" {% else %} class="btn categories active" {% endif %}
        href="{% url 'websites:home' url=website.url %}" id="home_category">

    <figure class="figure" style="width:80px;height:60px;">
        {% if website.home %}
        <img src="{{ icon.home.url }}" class="figure-img img-fluid rounded"
             alt="{{ website.home }}"
             style="height:50px;width:50px;">
        {% else %}
        <img src="{% static 'media/category.png' %}" class="figure-img img-fluid rounded"
             alt="{{ website.home }}"
             style="height:50px;width:50px;">
        {% endif %}
        <figcaption class="text-center text">{{ website.home }}</figcaption>
    </figure>
</a>

{% for category in categories %}

<a {% if selected_category == category %} class="btn categories active" {% else %} class="btn categories" {% endif %}
        href="{% url 'websites:category' url=website.url selected_category=category.slug %}" id="{{ category.slug }}">

    {% if category.icon %}
    <figure class="figure" style="width:80px;height:60px;">
        <img src="{{ category.icon.url }}" class="figure-img img-fluid rounded"
             alt="{{ category.icon.name }}" style="height:50px;width:50px;">
        <figcaption class="text-center text">{{ category.title }}</figcaption>
    </figure>
    {% else %}
    <figure class="figure" style="width:80px;height:60px;">
        <img src="{% static 'media/category.png' %}" class="figure-img img-fluid rounded"
             alt="{{ category.title }}" style="height:50px;width:50px;">
        <figcaption class="text-center text">{{ category.title }}</figcaption>
    </figure>
    {% endif %}
</a>

{% endfor %}
