
<div class="col-lg text-center">
    <p>account.png</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/google" class="text-white" title="Google">Google</a>
    from <a href="https://www.flaticon.com/" class="text-white" title="Flaticon">www.flaticon.com</a></p>
</div>

<div class="col-lg text-center">
    <p>cart.png</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" class="text-white" title="Kiranshastry">
        Kiranshastry</a>
        from <a href="https://www.flaticon.com/" class="text-white" title="Flaticon">www.flaticon.com</a></p>
</div>

<div class="col-lg text-center">
    <p>search.png</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" class="text-white" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" class="text-white" title="Flaticon"> www.flaticon.com</a></p>
</div>

<div class="col-lg text-center">
    <p>link.png</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" class="text-white" title="Freepik">Freepik</a>
        from <a href="https://www.flaticon.com/" class="text-white" title="Flaticon"> www.flaticon.com</a></p>
</div>

<div class="col-lg text-center">
    <p>social medias icons</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/roundicons" class="text-white" title="Roundicons">Roundicons</a>
from <a href="https://www.flaticon.com/" class="text-white" title="Flaticon"> www.flaticon.com</a></p>
</div>

<div class="col-lg text-center">
    <p>whatsapp.png</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" class="text-white" title="Pixel perfect">Pixel perfect</a>
        from <a href="https://www.flaticon.com/" class="text-white" title="Flaticon"> www.flaticon.com</a></p>
</div>

<div class="col-lg text-center">
    <p>category.png</p>
    <p>Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" class="text-white"  title="ultimatearm">ultimatearm</a>
        from <a href="https://www.flaticon.com/" class="text-white"  title="Flaticon"> www.flaticon.com</a></p>
</div>

<div class="col-lg text-center">
<a href="https://www.freepik.com/vectors/background" class="text-white">Background vector created by rawpixel.com - www.freepik.com</a>
</div>
