<nav aria-label="Page navigation example mt-2">
    <ul class="pagination">

        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}" id="previous_page">
                &laquo;
            </a>
        </li>
        {% endif %}

        {% if products.paginator.num_pages > 1 %}
        {% for num_page in products.paginator.page_range %}

        <li {% if products.number == num_page %} class="page-item active" {% else %} class="page-item" {% endif %}>

            <a class="page-link" href="?page={{ num_page }}" id="page{{ num_page }}">
                {{ num_page }}
            </a>

        </li>

        {% endfor %}
        {% endif %}

        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}" id="next_page">
                &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>