<nav aria-label="Page navigation example mt-2">
    <ul class="pagination">

        {% if products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}">
                &laquo;
            </a>
        </li>
        {% endif %}

        {% if products.paginator.num_pages > 1 %}
        {% for x in products.paginator.page_range %}

        <li {% if products.number == x %} class="page-item active" {% else %} class="page-item" {% endif %}>

            <a class="page-link" href="?page={{ x }}">
                {{ x }}
            </a>

        </li>

        {% endfor %}
        {% endif %}

        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.next_page_number }}">
                &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>