{% load static %}
{% load filters %}


<form method="post" action="{% url 'websites:addtocart' url=website.url product=product.slug %}" id="options_form">
    {% csrf_token %}
    <div class="row mt-5">
        <div class="col-sm text-center" id="{{ product.slug|remove_dash }}_images">
            <img src="{{ product.images.url }}"  style="max-height:400px;max-width:100%;">
        </div>
        <div class="col-sm text-center">
            <h5 id="{{ product.slug|remove_dash }}_title">
                {{ product.title }}
            </h5>
            <p class="overflow-auto" style="max-height:300px;" id="{{ product.slug|remove_dash }}_description">
                {{ product.description|safe }}
            </p>
        </div>
    </div>
    <div class="row justify-content-center"  id="{{ product.slug|remove_dash }}">
        <img src="{% static 'media/line.jpg' %}" style="max-width:100%;">
    </div>
</form>

<script>
    $(document).ready(function(){

        var total = 0
        var auxiliary

        {% for group in groups %}

            var {{ group.slug|remove_dash }} = {
                old_value: 0,
                type_input: "",
                class_div: "",
                class_input: "",
                option_selected: false
            }

            {% if group.maximum == 1 and group.minimum == 1 %}
                {{ group.slug|remove_dash }}.type_input = "radio"
                {{ group.slug|remove_dash }}.class_div = "form-check"
                {{ group.slug|remove_dash }}.class_input = "form-check-input"
            {% endif %}

            $("#options_form").append(function(){

                return  "<div class='row mt-3'>" +
                            "<div class='col-sm text-center' id='{{ group.slug|remove_dash }}_images'>" +

                            "</div>" +
                            "<div class='col-sm text-center'>" +
                                "<h5 id='{{ group.slug|remove_dash }}_title'> </h5>" +
                                "<p class='overflow-auto' style='max-height:300px;' " +
                                "id='{{ group.slug|remove_dash }}_description'> </p>" +
                            "</div>" +
                        "</div>" +

                        "<div class='row justify-content-center'>" +
                            "<h4> {{ group.title }} </h4>" +
                        "</div>" +


                        "<div class='row justify-content-center mb-2'  id='{{ group.slug|remove_dash }}'>" +
                            "<!-- Options -->" +
                        "</div>" +
                        "<div class='row justify-content-center'  id='{{ group.slug|remove_dash }}'>" +
                            "<img src='" + "{% static 'media/line.jpg' %}" + "' style='max-width:100%;'>" +
                        "</div>";
            });

        {% endfor %}

        {% for option in options %}

            auxiliary = {
                 option_text: "",
                 value_input: "",
                 readonly: "",
                 checked: "",
                 min_max: ""
             }

            {% if option.maximum == option.minimum %}
                auxiliary.readonly = "readonly"
            {% endif %}

            {% if option.price %}
                auxiliary.option_text = "{% money_format option.price website.currency website.language %}"
            {% else %}
                auxiliary.option_text = "{{ option.title }}"
            {% endif %}

            if ({{ option.groups|remove_dash }}.type_input != "radio") {

                {% if option.maximum == 1 %}
                    {{ option.groups|remove_dash }}.type_input = "checkbox"
                    {{ option.groups|remove_dash }}.class_div = "form-check"
                    {{ option.groups|remove_dash }}.class_input = "form-check-input"
                    auxiliary.value_input = "{{ option.id }}"
                {% else %}
                    {{ option.groups|remove_dash }}.type_input = "number"
                    {{ option.groups|remove_dash }}.class_div = "form-group"
                    {{ option.groups|remove_dash }}.class_input = "form-control-input mr-1"
                    auxiliary.value_input = "{{ option.minimum }}"
                    auxiliary.min_max = "min='{{ option.minimum }}' max='{{ option.maximum }}' style='width:50px;'"
                {% endif %}

            }

            if (!{{ option.groups|remove_dash }}.option_selected) {

                $("#{{ option.groups|remove_dash }}_title").append("{{ option.title }}")
                $("#{{ option.groups|remove_dash }}_description").html("{{ option.description|safe }}")

                {% if option.images %}
                $("#{{ option.groups|remove_dash }}_images").html("<img src='{{ option.images.url }}' class='img-fluid' " +
                                "alt='{{ option.slug }}' style='max-height:400px;max-width:100%;'>")
                {% endif %}

                if ({{ option.groups|remove_dash }}.type_input == "radio") {
                    {% if option.price %}
                    total += {{ option.price }}
                    {{ option.groups|remove_dash }}.old_value = {{ option.price }}
                    {% endif %}
                    auxiliary.checked = "checked"
                }

                {{ option.groups|remove_dash }}.option_selected = true

            }

            $("#{{ option.groups|remove_dash }}").append(function() {

                return  "<div class='" + {{ option.groups|remove_dash }}.class_div+ " mr-2'>" +

                        "<input class='" + {{ option.groups|remove_dash }}.class_input + "' type='" +  {{ option.groups|remove_dash }}.type_input +
                        "' name='option' id='{{ option.id }}' " + "value='" + auxiliary.value_input + "' " +
                         + " " + auxiliary.min_max + " " + auxiliary.checked + " " + auxiliary.readonly +
                        ">" +

                        "<label class='" + {{ option.groups|remove_dash }}.class_input + "-label btn-primary rounded p-1' for='{{ option.id }}'>" +

                        {% if option.images %}
                        "<img src='{{ option.images.url }}' class='rounded-circle mr-1' " +
                                "alt='{{ option.slug }}' style='width: 30px;height: 30px;'>" +
                        {% endif %}

                        auxiliary.option_text +

                        "</label>" +
                        "</div>";
            });

            $("#{{option.id}}").click(function(){

                $("#{{ option.groups|remove_dash }}_title").empty()
                $("#{{ option.groups|remove_dash }}_description").empty()

                $("#{{ option.groups|remove_dash }}_title").append("{{ option.title }}")
                $("#{{ option.groups|remove_dash }}_description").append("{{ option.description|safe }}")

                {% if option.images %}
                $("#{{ option.groups|remove_dash }}_images").html("<img src='{{ option.images.url }}' class='img-fluid' " +
                                "alt='{{ option.slug }}' style='max-height:400px;max-width:100%;'>")
                {% endif %}

                {% if option.price %}
                if ({{ option.groups|remove_dash }}.type_input == 'radio') {
                    total -= {{ option.groups|remove_dash }}.old_value
                    total += parseFloat("{{ option.price }}")
                    {{ option.groups|remove_dash }}.old_value = parseFloat("{{ option.price }}")
                } else if ({{ option.groups|remove_dash }}.type_input == 'checkbox') {
                    total -= {{ option.groups|remove_dash }}.old_value
                    total += parseFloat("{{ option.price }}")
                    {{ option.groups|remove_dash }}.old_value = parseFloat("{{ option.price }}")
                } else {
                    total -= {{ option.groups|remove_dash }}.old_value
                    total += parseFloat("{{ option.price }}")
                    {{ option.groups|remove_dash }}.old_value = parseFloat("{{ option.price }}")
                }
                {% endif %}

                console.log(total)

            });

        {% endfor %}

        $("#options_form").append(function(){
            return "<div class='row navbar mt-3'>" +
                        "<div class='col text-center text'>" +
                            "<h5> Final Price R$ 0,00 </h5>" +
                            "<button type='submit' class='btn btn-success'>" +
                                "<b> + </b> Add to Cart" +
                            "</button>" +
                        "</div>" +
                    "</div>";
        });

    });


</script>