{% load filters %}
{% load static %}

{% for product in products %}

{% if forloop.first or forloop.counter == 5 %}
<div class="row mt-2">
{% endif %}


{% if product.is_available %}

    <div class="col-sm">

        <a href="{% url 'websites:product' url=website.url selected_product=product.slug %}"
           class="card border-0 title" style="max-width:400px;">

            {% if product.images %}
            <img class="card-img-top" src="{{ product.images.url }}" alt="{{ product.images.name }}"
                 style="height:300px;">
            {% else %}
            <img class="card-img-top" src="{% static 'media/category.png' %}" alt="{{ product.title }}"
                 style="height:300px;">
            {% endif %}

            <div class="card-body">
                <p class="card-text text-center text-truncate">

                    {{ product.title }} <br>

                    {% if product.price %}
                    {% if product.promotional_price %}
                    <strike>{% money_format product.price website.currency website.language %}</strike>
                    <strong>{% money_format product.promotional_price website.currency website.language %}</strong>
                    {% else %}
                    <strong>{% money_format product.price website.currency website.language %}</strong>
                    {% endif %}
                    {% endif %}

                </p>
            </div>

        </a>

    </div>

{% endif %}

{% if forloop.last or forloop.counter == 4 %}
</div>
{% endif %}

{% endfor %}