{% load static %}
{% load filters %}


<form method="post" action="{% url 'websites:cart' url=website.url %}" id="options_form">
    {% csrf_token %}

    <div class="row mt-5">

        <div class="col-sm text-center" id="{{ product.slug }}_images">
            <img src="{{ product.images.url }}"  style="max-height:400px;max-width:100%;">
        </div>

        <div class="col-sm text-center">

            <h5 id="{{ product.slug }}_title">
                {{ product.title }}
            </h5>

            <p class="overflow-auto" style="max-height:300px;" id="{{ product.slug }}_description">
                {{ product.description|safe }}
            </p>

        </div>

    </div>

    <div class="row justify-content-center">
        <img src="{% static 'media/line.jpg' %}" style="max-width:100%;">
    </div>

    {% for group in groups %}
    <div class="row mt-5">

        <div class="col-sm text-center" id="{{ group.slug }}_images">
            <!-- Option title selected -->
        </div>

        <div class="col-sm text-center">

            <h5 id="{{ group.slug }}_title">
                <!-- Option title selected -->
            </h5>

            <p class="overflow-auto" style="max-height:300px;" id="{{ group.slug }}_description">
                <!-- Option description selected -->
            </p>

        </div>

    </div>

    <div class="row justify-content-center">
        <h4> {{ group.title }} </h4>
    </div>

    <div class="row justify-content-center"
         {% if group.maximum == 1 and group.minimum == 1 %} name="radio" {% endif %}
         id="{{ group.slug }}_options">
        <!-- Options -->
    </div>

    <div class="row justify-content-center">
        <img src="{% static 'media/line.jpg' %}" style='max-width:100%;'>
    </div>

    {% endfor %}

    <div class='row navbar mt-3'>
        <div class='col text-center text'>
            <h5 id="{{ product.slug }}_total">
                Total {% money_format product.get_real_price website.currency website.language %}
            </h5>
            <button type='submit' class='btn btn-success'>
                <b> + </b> Add to Cart
            </button>
        </div>
    </div>



</form>

<script>
    $(document).ready(function(){

        currency = new Intl.NumberFormat('{{ website.language|html_format }}', {
                                            style: 'currency', currency: '{{ website.currency }}' })

        {% if product.get_real_price %}
            total = {{ product.get_real_price }}
        {% else %}
            total = 0
        {% endif %}

        {% for group in groups %}
            {% if group.get_real_price %}
                total += {{ group.get_real_price }}
            {% endif %}
        {% endfor %}

        {% for option in options %}

            options_group = $("#{{ option.groups }}_options");

            /*The get_real_price method checks if the option is in the promotion and returns the promotional_price
            else it returns price else returns None.*/
            {% if option.get_real_price %}
                content = "{% money_format option.get_real_price website.currency website.language %}";
                value = {{ option.get_real_price }}
            {% else %}
                content = "{{ option.title }}";
                value = "{{ option.pk }}";
            {% endif %}

            /*Creating an icon rounded for the options.*/
            {% if option.images %}
                image = "<img src='{{ option.images.url }}' class='rounded-circle mr-1' " +
                        "alt='{{ option.slug }}' style='width: 30px;height: 30px;'>";
            {% else %}
                image = ""
            {% endif %}

            /*Used for number type input and to check whether the input is read-only.*/
            min = {{ option.minimum }}
            max = {{ option.maximum }}

            /*In radio type input, the name is the same for the options that group.*/
            if (options_group.attr("name") == "radio") {
                input_type = "radio";
                name = "{{ option.groups }}";
                {{ option.groups }} = 0
            } else {
                name = "{{ option.pk }}"
                if ({{ option.maximum }} == 1) {
                    input_type = "checkbox";
                } else {
                    input_type = "number";
                    {{ option.slug }} = 0
                }
            }

            html_input = returns_input_html(input_type, name, "{{ option.pk }}", value, min, max, image, content);

            options_group.append(function() {

                return  html_input;

            });

            $("#{{ option.pk }}").click(function(){

                $("#{{ option.groups }}_title").text("{{ option.title }}");
                $("#{{ option.groups }}_description").empty();
                $("#{{ option.groups }}_images").empty();

                {% if option.description %}
                    $("#{{ option.groups }}_description").text("{{ option.description }}");
                {% endif %}

                {% if option.images %}
                $("#{{ option.groups }}_images").html("<img src='{{ option.images.url }}' class='img-fluid' " +
                        "alt='{{ option.slug }}' style='max-height:400px;max-width:100%;'>");
                {% endif %}

                {% if option.get_real_price %}
                    if ($(this).is(':radio')) {
                        total += update_total_radio({{ option.groups }}, {{ option.get_real_price }})
                        {{ option.groups }} = {{ option.get_real_price }} // Update previous value
                    } else if ($(this).is(':checkbox')) {
                        total += update_total_checkbox($(this), {{ option.get_real_price }})
                    } else {
                        number = $(this).val()
                        total += update_total_number({{ option.slug }}, number, {{ option.get_real_price }})
                        {{ option.slug }} = number * {{ option.get_real_price }} // Update previous value
                    }

                    $("#{{ product.slug }}_total").text(currency.format(total));

                {% endif %}


                console.log(currency.format(total));

            });

        {% endfor %}


    });
</script>