{% load filters %}

{% for product in products %}
{% if product.is_active %}
{% if forloop.counter == 5 %}
</div>
<div class="row mt-2">
    {% endif %}
    <div class="col-sm">
        <a href="{% url 'websites:product' url=websites.url product=product.slug %}" class="card border-0 title" style="max-width:400px;">
            {% if product.images %}
            <img class="card-img-top" src="{{ product.images.url }}" alt="{{ product.images.name }}"
                 style="height:300px;">
            {% endif %}
            <div class="card-body">
                <p class="card-text text-center text-truncate">
                    {{ product.title }} <br>
                    {% if product.promotional_price %}
                    <strike>{% money_format product.price websites.currency %}</strike> por
                    <strong>{% money_format product.promotional_price websites.currency %}</strong>
                    {% else %}
                    por <strong>{% money_format product.price websites.currency %}</strong>
                    {% endif %}
                </p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    {% if '' %}
</div>
    {% endif %}