{% load static %}

<nav class="navbar navbar-expand-sm" id="top_navbar">

    <a class="navbar-brand mb-0 h1 text" href="{%url 'websites:home' url=website.url %}">{{ website.title }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline navbar-brand" method="get"
                      action="{% url 'websites:home' url=website.url %}">
                    <input class="form-control border-0" type="search" placeholder=""
                           aria-label="Search" name="search" id="search">
                    <button id="navbar_search" class="btn btn-transparent border-0" type="submit">

                        {% if icon.search %}
                        <img src="{{ icon.search.url }}" style="height:32px;width:32px;">
                        {% else %}
                        <img src="{% static 'media/search.png' %}">
                        {% endif %}

                    </button>
                </form>
            </li>
            <li class="nav-item">
                <a href="" id="navbar_account" class="nav-link">

                    {% if icon.account %}
                    <img src="{{ icon.account.url }}" style="height:32px;width:32px;">
                    {% else %}
                    <img src="{% static 'media/account.png' %}">
                    {% endif %}

                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'websites:cart' url=website.url %}" id="navbar_cart" class="nav-link">

                    {% if icon.cart %}
                    <img src="{{ icon.cart.url }}" style="height:32px;width:32px;">
                    {% else %}
                    <img src="{% static 'media/cart.png' %}">
                    {% endif %}

                    <span class="badge badge-light">

                        {% if cart.quantity %}
                            {{ cart.quantity }}
                        {% else %}
                            0
                        {% endif %}

                    </span>
                </a>
            </li>
        </ul>

    </div>

</nav>